<%# <div class="video-header">

  <video src="https://drive.google.com/uc?id=1QmPm1EdHE0yLepVKu8FqqpPxmNKSxwnC" autoplay loop playsinline muted></video>

  <div class="header-text">
    <h1>
      The only eCommerce platform <span>Samarth’ll</span> ever need.
    </h1>
  </div>
  <div class="description">
      <p class="subtitle">
        Build, customize and scale your store with no limits or license fees.
        Solidus is the free, open-source eCommerce framework for
        digitally-native brands, fast-growing online businesses and pragmatic
        developers.
      </p>
  </div>
</div> %>

<%# <div class="hero__message">
      <h1 class="hero-title">
        The only eCommerce platform Samarth’ll ever need.
      </h1>

      <p class="subtitle">
        Build, customize and scale your store with no limits or license fees.
        Solidus is the free, open-source eCommerce framework for
        digitally-native brands, fast-growing online businesses and pragmatic
        developers.
      </p>
    </div>
  </div> %>